

<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">SON HABERLER</h3>
        <p class="heading-btm-w3ls">Tarım sektörü ile ilgili en son haberler...</p>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img1-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal2"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6> <a href="#" data-toggle="modal" data-target="#myModal2">2024 YILINDA TARIM SEKTÖRÜNDE BÜYÜME BEKLENİYOR</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Türkiye'de tarım sektörü '.</a><span>24/10/2023</span>
                    <p class="para-w3-agileits">2024 yılında Türkiye'de tarım sektöründe genişleme bekleniyor.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Haberin devamı...</a>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-5 blog-info-w3layouts blog-mid">
                <h6><a href="#" data-toggle="modal" data-target="#myModal3">16 EKİM DÜNYA GIDA GÜNÜ</a></h6>
                <div class="inner-info-mid">
                    <a href="#" class="blog-text-w3ls mid-bar">DÜNYA GIDA GÜNÜ.</a><span>16/10/2023</span>
                    <p class="para-w3-agileits">16 Ekim Dünya gıda günü kutlu olsun </p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Haberin devamı...</a>

            </div>
            <div class=" col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal4"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6><a href="#" data-toggle="modal" data-target="#myModal4">BUĞDAY VE ARPA FİYATLARI YÜKSELİR Mİ?</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">TÜRİB'den Buğday ve Arpa fiyatları açıklaması.</a><span>01/8/2023</span>
                    <p class="para-w3-agileits">Fiyatların yukarı yönlü seyri hububat piyasasını hareketlendirdi!</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Haberin devamı...</a>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>2024 Tarım sektörü büyüyecek mi?</h4>
                <img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
                <h5>2024 Tarım sektörü büyüyecek mi?</h5>
                <p>2024 yılında Türkiye'de tarım sektöründe genişleme bekleniyor.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>GIDA İSRAFINA DUR DİYELİM!</h4>
                <img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
                <h5>16 EKİM DÜNYA GIDA GÜNÜ</h5>
                <p>Gıda yaşamımızın en temel parçası! Herkesin sağlıklı ve besleyici gıdalara erişebilmesi için hep berabergıda israfini azaltalım, yerel ürünleri destekleyelim ve gıda güvencesi sağlamak için elimizden geleni yapalım. Dünya harekete geçme günü olsun!</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>BUĞDAY VE ARPA FİYATLARI YÜKSELİR Mİ?</h4>
                <img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
                <h5>TÜRİB'den Buğday ve Arpa fiyatları açıklaması</h5>
                <p>Buğday ve arpadaki benzer bir fiyat hareketliliği TÜRİB’de de görüldü. Türkiye Ürün İhtisas Borsası (TÜRİB)’de Cuma kapanış fiyatına göre son bir haftalık fiyat hareketliğinde ekmeklik buğday 7,180 TL/tondan 7,407 TL/tona, makarnalık buğday 8,517 TL/tondan 8,883 TL/tona, arpa 5,530 TL/tondan 5,750 TL/tona yükseldi. Ticaret Borsalarında olduğu gibi TÜRİB’de de mısır fiyatları 5,500 TL/ton seviyesini koruyarak artma veya düşme yönünde bir hareketlilik olmadı.</p>
            </div>
        </div>
    </div>
</div>


