
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>


    <!-- header -->
    <div class="header">
        <div class="container">
            @await Component.InvokeAsync("_TopAddressPartial")

            @await Component.InvokeAsync("_SocialMediaPartial")



            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <!--Slider-->
    @await Component.InvokeAsync("_NavbarPartial")

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <!-- Modal1 -->
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Hasat Zamanı</h4>
                    <img src="~/web/images/banner1.jpg" alt=" " class="img-responsive">
                    <h5>SÜRDÜRÜLEBİLİR VE ÇEVRECİ BİR TARIM İÇİN ÇALIŞIYORUZ</h5>
                    <p>Tarımda zaman ve enerji tasarrufu yapmak için yenilikçi,teknolojik ekipman ve yöntemler kullanıyoruz.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!--//Slider-->
    <!--//Header-->
    <!-- about -->
    @await Component.InvokeAsync("_AboutPartial")
    <!-- //about-bottom -->
    <!--sevices-->
    <!--//sevices-->
    <!-- team -->

    @await Component.InvokeAsync("_ServicePartial")


    <!-- //team -->
    <!--blog -->

    @await Component.InvokeAsync("_TeamPartial")


    <!-- //blog -->
    <!-- Modal2 -->
    @await Component.InvokeAsync("_AnnouncementPartial")

    <!-- //Modal2 -->
    <!-- Modal3 -->
    <!-- //Modal4 -->
    <!--/gallery-->

    @await Component.InvokeAsync("_GaleryPartial")

    <!--//gallery-->
    <!--footer-->
    <div class="contact-agile" id="contact">
        <div class="container">

            @await Component.InvokeAsync("_AddressPartial")



            @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")

        </div>
    </div>

    @await Component.InvokeAsync("_MapPartial")


    <div class="copy">
        <p>@DateTime.Now.Year Tüm hakları saklıdır. | Design by 'Piskin's Software' </p>
    </div>
    <!--/footer -->
    <!-- js -->
    @await  Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")


</body>
</html>

